<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional</title>
</head>
<body>
    <center>
        <h1>#if else conditions#</h1>
        <h1>
        {% if a > b %}
            {{a}} is greater than {{b}}
        {% else %}
            {{b}} is greater than {{a}}
        {% endif %}
        </h1>
    </center>
    <center>
        <h1>#if elif else conditions#</h1>
        <h1>
        {% if a > b and a > c %}
            {{a}} is greater than between {{b}}&{{c}}
        {%elif b > c and b > c %}
            {{b}} is greater than between {{a}}&{{c}}
        {% else %}
            {{c}} is greater than between {{a}}&{{b}}
        {% endif %}
        </h1>
    </center>
</body>
</html>